/*Basic Design*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --text-primary-color: #ffffff;
    --bg-primary-color: #070707;
    --red-color: #f95454;
    --primary-font-family: 'Poppins', sans-serif;
    --secondary-font-family: 'Merriweather',serif;

}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a, h2, h1, h3, h4, h5, h6, p{
    text-decoration: none;
    color: var(--text-primary-color);
    font-family: var(--primary-font-family);
}

summary{
    color: var(--text-primary-color);
    font-family: var(--primary-font-family);
}

label{
    font-family: var(--primary-font-family);
    color: var(--text-primary-color);
}

hr{
    border: 2px solid var(--red-color);
}

body{
    background: var(--bg-primary-color);
}

/* Header */
.header{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('sources/lee-campbell-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 1);
    box-shadow: 300px 500px 400px 41px rgba(0, 0, 0, .75) inset;
    -webkit-box-shadow: 300px 500px 400px 41px rgba(0, 0, 0, .75) inset;
    -moz-box-shadow: 300px 500px 400px 41px rgba(0, 0, 0, .75) inset;
}

/* Nav */
.nav-logo{
    width: 14rem;
}

nav{
    width: 100%;
    background-color: var(--bg-primary-color);
    top: 0;
    position: fixed;
    padding: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    font-family: var(--primary-font-family);
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2px;
    display: flex;
    gap: 1.5rem;
}

/* Animation */
.nav-links > a{
    transition: 200ms ease-in-out;
    position: relative;
    padding: 3px 10px;
}

.nav-links > a::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    transform-origin: left;
    background-color: whitesmoke;
    transition: 200ms ease-in-out;
    transform: scaleX(0);
    z-index: -1;
}

.nav-links > a:hover,
.nav-links > a:active,
.nav-links > a:focus{
    letter-spacing: 3px;
    color: var(--bg-primary-color);
}

.nav-links > a:hover::after,
.nav-links > a:active::after,
.nav-links > a:focus::after{
    transform: scale(1);
}

/* active design nav */
.nav-bar-links-a-des{
    background-color: var(--text-primary-color);
    color: var(--bg-primary-color);
}

/* Burger */
.burger{
    display: none;
    flex-direction: column;
    gap: 3px;
    transition: .5s ease-in-out;
}

.burger > div{
    height: 2.25px;
    width: 25px;
    background-color: var(--text-primary-color);
    transition: all .5s ease-in-out;
}

/* Content */
.title-header-content-container{
    font-family: var(--primary-font-family);
    padding: 14rem 0 0 8rem;
    display: flex;
    flex-direction: column;
}

.title-header-content-container > #title{
    font-size: 3.5rem;
    color: rgb(249, 84, 84);
    letter-spacing: 4px;
}

.title-header-content-container > .sub-title{
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.title-header-content-container > .quote{
    color: var(--red-color);
    font-family: var(--secondary-font-family);
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 2rem;
    margin-top: 1.5rem;
}

/* Section 2 / Timeline */
section{
    padding: 8rem 8rem;
}

/* Header */
.timeline-header{
    margin-bottom: 2rem;
    font-family: var(--primary-font-family);
    color: var(--text-primary-color);
    font-size: 3rem;
    letter-spacing: 4px;
}

/* Intro */
.timeline-introduction{
    border-left: 4px solid var(--red-color);
    font-family: var(--primary-font-family);
    color: var(--text-primary-color);
    font-size: 1rem;
    letter-spacing: 3px;
    padding-left: 1rem;
    margin-bottom: 3rem;
    text-align: justify;
}

/* button */
.timeline-button-cont{
    display: flex;
}

.timeline-button-cont > p{
    font-family: var(--primary-font-family);
    padding: 1rem 3rem;
    border: 4px solid whitesmoke;
    border-right: none;
    border-bottom: none;
}

.timeline-button-cont > .web{
    border-right: 4px solid whitesmoke;
}

.timeline-button-cont > p:hover{
    background-color: var(--text-primary-color);
    color: var(--bg-primary-color);
    transition: all 200ms ease-in-out;
}

/* class list fot button */
.timeline-button-active{
    background-color: var(--text-primary-color);
    color: var(--bg-primary-color);
}

/* prog lang content container / timeline content */
.timeline-programming-lang{
    border: 4px solid whitesmoke;
    padding: 1rem 3rem;
}

.timeline-web-design {
    border: 4px solid whitesmoke;
    padding: 1rem 3rem;
    display: none;
}

.what-is-prog-lang{
    font-family: var(--primary-font-family);
    font-size: 2.25rem;
    letter-spacing: 4px;
    margin-bottom: .75rem;
}

.what-is-prog-lang span{
    color: var(--red-color);
}

/* ans */
.prog-lang-ans{
    border-left: 4px solid var(--red-color);
    padding-left: 1rem;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.year{
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.timeline-item-cont {
    border: 4px solid var(--text-primary-color);
    display: flex;
    margin-bottom: 1rem;
}

.timeline-item-cont > img{
    width: 25%;
    border-right: 4px solid var(--text-primary-color);
    aspect-ratio: 1 / 1 !important; 
}

.timeline-item-cont > iframe {
    width: 25%;
    border-right: 4px solid var(--text-primary-color);
    aspect-ratio: 1 / 1 !important;
}

.meaning-content{
    padding: 2rem;
    text-align: justify;
}

.meaning-content > .year-name{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.meaning-content > .meaning{ 
    border-left: 4px solid var(--red-color);
    padding-left: 1rem;
    font-size: 1.1rem;
}

/* timeline cont right */
.timeline-item-cont-right {
    border: 4px solid var(--text-primary-color);
    display: flex;
    margin-bottom: 1rem;
}

.timeline-item-cont-right > img {
    width: 25%;
    border-left: 4px solid var(--text-primary-color);
    aspect-ratio: 1 / 1 !important;
}

.timeline-item-cont-right > iframe {
    width: 25%;
    border-right: 4px solid var(--text-primary-color);
    aspect-ratio: 1 / 1 !important;
}

.meaning-content-right {
    text-align: justify;
    padding: 2rem;
}

.meaning-content-right > .year-name {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.meaning-content-right > .meaning {
    border-right: 4px solid var(--red-color);
    padding-right: 1rem;
    font-size: 1.25rem;
}

.sources{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: var(--red-color);
    transform: 200ms ease-in-out;
}

.sources:hover {
    background-color: #fe4040;
}

.sources-text{
    font-size: 2rem;
    letter-spacing: 2px;
}

.sources > p{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: underline;
}

#sources{
    font-size: 2rem;
    color: var(--text-primary-color);
}

/* section 3 web development */
.web-development > p{
    margin-bottom: 5rem;
}

.web-development a{
    text-decoration: underline;
}

.web-development-pro{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

.web-development-pro > img{
    width: 25%;
    aspect-ratio: 1/1;
}

.web-development-pro a{
    text-decoration: underline;
}

/* article */
.article-main-cont{
    display: flex;
    justify-content: space-between;
}

.article-cont{
    border: 4px solid var(--text-primary-color);
    width: 30%;
}

.article-cont > img{
    width: 100%;
    aspect-ratio: 1/1;
}

.article-content{
    padding: 1rem;
}

.article-content > h2{
    margin-bottom: 1rem;
}

.article-content > p{
    margin-bottom: 1rem;
}

.learn-more{
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red-color);
    transition: 200ms ease-in-out;
}

.learn-more:hover {
    background-color: #fe4040;
}

/* videos / section 4 */
.vid-main-cont{
    display: flex;
    justify-content: space-between;
}
.vid-cont{
    border: 4px solid var(--text-primary-color);
    width: 30%;
}

.vid-cont > iframe{
    width: 100%;
}
/* Frequently ask question */
#summary{
    font-size: 2rem;
    color: var(--text-primary-color);
}

details{
    border: 4px solid var(--text-primary-color);
    margin: 0 0 1rem 0;
}

details > summary{
    font-size: 1.25rem;
    padding: .5rem 2rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 200ms ease-in-out;
}

details > p{
    border-top: 2px solid var(--text-primary-color);
    text-align: justify;
    padding: .5rem 2rem;
}

details[open] > summary > #summary{
    transform: rotate(180deg);
}

/* footer */
.main-cont-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer{
    padding: 8rem 8rem 2rem 8rem;
}

.main-cont-footer > .cont-1 > img{
    width: 14rem;
    margin-bottom: 1.5rem;
}

.main-cont-footer > .cont-1 > p{
    text-decoration: underline;
    margin-bottom: .5rem;
}

.cont-2{
    display: flex;
    flex-direction: column;
}

textarea{
    width: 100%;
    margin-top: 1rem;
    padding: .5rem 1rem;
    font-family: var(--primary-font-family);
}

.button{
    width: 50%;
    margin-top: 1rem;
    padding: .5rem 1rem;
    background-color: var(--red-color);
    transition: 200ms ease-in-out;
}

.button:hover{
    background-color: #fe4040;;
}

.your-Email{
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

/* Responsive */
@media (max-width: 1200px){
    /* Header */
    nav{
        padding: 2rem 5rem;
    }

    /* Title container */
    .title-header-content-container{
        padding: 14rem 5rem;
    }

    /* Section 2 / timeline / all section */
    section {
        padding: 8rem 5rem;
    }

    footer {
        padding: 8rem 5rem;
    }
}

@media (max-width: 950px){
    body{
        overflow-x: hidden;
    }

    /* Nav design */
    .nav-links{
        position: absolute;
        right: 0;
        top: 9vh;
        height: 91vh;
        width: 40%;
        background-color: var(--bg-primary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
    }

    /* Nav burger Visible */
    .burger{
        display: flex;
    }

    /* timeline cont */
    .timeline-item-cont {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 1rem;
    }

    .timeline-item-cont > img {
        width: 50%;
        border-right: none;
    }

    .timeline-item-cont > iframe {
        width: 50%;
        border-right: none;
    }

    .meaning-content > .meaning {
        border-left: none;
        padding-left: 0;
    }

    /* timeline content right */
    .timeline-item-cont-right {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }

    .timeline-item-cont-right > img {
        width: 50%;
        border-left: none;
    }

    .timeline-item-cont-right > iframe {
        width: 50%;
        border-right: none;
    }

    .meaning-content-right > .meaning {
        border-right: none;
        padding-right: 0;
    }

    /*web dev pro*/
    .web-development-pro {
        flex-direction: column;
        align-items: center;
    }

    .web-development-pro > img {
        width: 50%;
        aspect-ratio: 1/1 !important;
    }

    /* related arti */
    .article-main-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .article-cont {
        border: 4px solid var(--text-primary-color);
        width: 60%;
    }

    .article-cont > img {
        aspect-ratio: 16/9;
    }

    /* videos */
    .vid-main-cont {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .vid-cont {
        width: 60%;
    }

    /* footer */
    .main-cont-footer {
        flex-direction: column;
        align-items: start;
        gap: 3rem;
    }
}

@media (max-width: 750px){
    /* paddings */
    nav {
        padding: 2rem 2rem;
    }

    /* Title container */
    .title-header-content-container {
        padding: 14rem 2rem;
    }

    /* Section 2 / timeline / all section */
    section {
        padding: 8rem 2rem;
    }

    footer {
        padding: 8rem 2rem;
    }

    /* header */
    .title-header-content-container > #title {
        font-size: 2.75rem;
    }

    .title-header-content-container > .sub-title {
        font-size: 1rem;
    }

    .title-header-content-container > .quote {
        font-size: .75rem;
        line-height: 1.5rem;
    }

    /*timeline*/
    .timeline-header {
        font-size: 2.5rem;
    }

    .what-is-prog-lang {
        font-size: 2rem;
    }

    /* ans */
    .prog-lang-ans {
        font-size: 1rem;
    }

    .year {
        font-size: 2rem;
    }

    /*timeline content*/
    .meaning-content > .year-name {
        font-size: 2rem;
    }

    .meaning-content > .meaning {
        font-size: 1rem;
    }

    /*sources*/
    .sources-text {
        font-size: 1.5rem;
    }

    .sources > p {
        font-size: 1.25rem;
    }

    #sources {
        font-size: 1.5rem;
    }
}

@media (max-width: 550px){
    section {
        padding: 5rem 2rem 2rem 2rem;
    }

    footer {
        padding: 2rem 2rem;
    }

    /*nav logo*/
    nav {
        padding: 1.5rem 2rem;
    }
    .nav-logo{
        width: 10rem;
    }

    .nav-links {
        position: absolute;
        right: 0;
        top: 8vh;
        height: 92vh;
        width: 50%;
        background-color: var(--bg-primary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
    }

    .main-cont-footer > .cont-1 > img {
        width: 10rem;
    }

    /* header */
    .title-header-content-container > #title {
        font-size: 1.75rem;
    }

    .title-header-content-container > .sub-title {
        font-size: .75rem;
    }

    .title-header-content-container>.quote {
        font-size: .65rem;
        line-height: 1rem;
    }

    .timeline-button-cont>p {
        padding: .5rem 1.5rem;
        font-size: .85rem;
        border: 2px solid whitesmoke;
    }
        
    .timeline-button-cont>.web {
        border-right: 2px solid whitesmoke;
    }
    

    /*timeline*/
    .timeline-header {
        font-size: 1.35rem;
    }

    .timeline-introduction{
        border-left: 2px solid var(--red-color);
        font-size: .85rem;
    }

    .what-is-prog-lang {
        font-size: 1.35rem;
    }

    /* ans */
    .prog-lang-ans {
        border-left: 2px solid var(--red-color);
        font-size: .85rem;
    }

    .year {
        font-size: 1.35rem;
    }

    .timeline-programming-lang {
        border: 2px solid whitesmoke;
        padding: 1rem 1rem;
    }

    .timeline-web-design {
        border: 2px solid whitesmoke;
        padding: 1rem 1rem;
        display: none;
    }

    .timeline-item-cont {
        border: 2px solid var(--text-primary-color);
    }

    .timeline-item-cont-right {
        border: 2px solid var(--text-primary-color);
    }

    /*timeline content*/
    .meaning-content{
        padding: 1rem;
    }

    .meaning-content-right{
        padding: 1rem;
    }

    .meaning-content > .year-name {
        font-size: 1.35rem;
    }

    .meaning-content > .meaning {
        font-size: .85rem;
    }

    .meaning-content-right>.year-name {
        font-size: 1.35rem;
    }

    .meaning-content-right>.meaning {
        font-size: .85rem;
    }

    /*sources*/
    .sources-text {
        font-size: .85rem;
    }

    .sources > p {
        font-size: .85rem;
    }

    #sources {
        font-size: 1.25rem;
    }

    /* related arti */

    .article-cont {
        border: 2px solid var(--text-primary-color);
        width: 90%;
    }

    .article-content > h2 {
        font-size: 1.25rem;
        margin-bottom: .5rem;
    }

    .article-content > p {
        font-size: .85rem;
    }

    /* videos */
    .vid-cont {
        border: 2px solid var(--text-primary-color);
        width: 90%;
    }

    /* frequently ask question */
    details{
        border: 2px solid var(--text-primary-color);
    }

    details > summary {
        font-size: 1rem;
        padding: .5rem 1rem;
    }

    details > p {
        font-size: .85rem;
        padding: .5rem 1rem;
    }

    .main-cont-footer>.cont-1>p {
        font-size: .85rem;
    }

    .cont-2 > label{
        font-size: .85rem;
    }

    .button {
        font-size: .85rem;
        padding: .25rem 1rem;
    }

}

@media (max-width: 350px){
    .title-header-content-container>#title {
        font-size: 1.5rem;
    }

    .title-header-content-container>.sub-title {
        font-size: .5rem;
    }

    .title-header-content-container>.quote {
        font-size: .45rem;
        line-height: 1rem;
    }
}

/* class to appear the nav link*/
.nav-link-active{
    transform: translateX(0%);
}

/* Class to animate the burger */
.toggle .line1{
    transform: rotate(45deg) translateX(7px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(-45deg) translateX(7px);
}


